{{!-- <script>window.location.href = "/requests/new"</script> --}}
{{! ===================== ARTICLE EXAMPLE ===================== }}
<div>  
  <div class="header__banner">
      <div class="container title">
        <h1>Boas-vindas à nossa <b>central de ajuda.</b></h1>
        <p>Como podemos te ajudar?</p>
        <div class="header__search">
          <form
            accept-charset='UTF-8'
            action='/hc/search'
            method='get'
            role='search'
            data-instant='{{settings.show_search}}'
            data-search='true'
            class="search-bar"
          >
            <input name='utf8' type='hidden' value='&#x2713;' />
            <input
              class='input search-bar__input'
              id='query'
              name='query'
              placeholder='Digite sua dúvida aqui'
              type='search'
            />
            <button class='button search-bar__button' type='submit'>
           	<img src='{{asset "lupadark.svg"}}' alt='Search' class='search-bar__icon'/>
            </button>
          </form>
      </div>
    </div>
</div>
<section class='with-menu'>
  <aside>
    <strong>Artigos na Mesma Seção</strong>
    <ul>
      {{#each section.articles}}
        <li><a class="{{#is id ../article.id}}current-article{{/is}}" href='{{url}}'>{{title}}</a></li>
      {{/each}}
      {{#if section.more_articles}}
        <li><a class="more-articles" href='{{section.url}}'>Ver todos</a></li>
      {{/if}}
    </ul>
  </aside>
  <main>
    {{breadcrumbs}}
    <h2 class="title">{{article.title}}</h2>
    <div class="article-body">
      {{article.body}}
    </div>
    {{#with article}}
      <div class="article-vote">
        <b>Este artigo foi útil?</b>
        <div class="article-vote__buttons">
          {{vote
            'up'
            class='vote-button up button'
            selected_class='active'
            role='button'
          }}
          {{vote
            'down'
            class='vote-button down button'
            selected_class='active'
            role='button'
          }}
        </div>
      </div>
    {{/with}}
  </main>
</section>