<div>  
  <div class="header__banner">
      <div class="container title">
        <h1>Boas-vindas à nossa <b>central de ajuda.</b></h1>
        <p>Como podemos te ajudar?</p>
        <div class="header__search">
          <form
            accept-charset='UTF-8'
            action='/hc/search'
            method='get'
            role='search'
            data-instant='{{settings.show_search}}'
            data-search='true'
            class="search-bar"
          >
            <input name='utf8' type='hidden' value='&#x2713;' />
            <input
              class='input search-bar__input'
              id='query'
              name='query'
              placeholder='Digite sua dúvida aqui'
              type='search'
            />
            <button class='button search-bar__button' type='submit'>
           	<img src='{{asset "lupadark.svg"}}' alt='Search' class='search-bar__icon'/>
            </button>
          </form>
      </div>
    </div>
</div>
<section>
  <div class="section-header">
    {{breadcrumbs}}
    <h2>{{category.name}}</h2>
    
  </div>
  <div class="section-articles">
    {{#each sections}}
      <div class="section-articles__card">
        <h2>{{name}}</h2>
        {{#if (compare articles.length "<=" 4)}}
          <ul>
            {{#each articles}}
              <li>
                <a href="{{url}}">{{title}}</a>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <ul>
            {{#each (slice articles 0 4)}}
              <li>
                <a href="{{url}}">{{title}}</a>
              </li>
            {{/each}}
            <li>
              <a class="section-articles__view-more" href="{{url}}">
                Ver mais
                <img src="{{asset 'chevron-right.svg'}}" alt="chevron right">
              </a>
            </li>
          </ul>
        {{/if}}
      </div>
    {{/each}}
  </div>
</section>
