<footer>     
  <div class='footer'>
    <div class='container'>
        <div class='footer-social__media'>
          <div class='footer-social__logo'>
	          <img class='footer-logo__img' src='{{settings.logo}}' alt='Solfácil' />
          </div>
          <a>
          	<span>Acesse nossas redes sociais</span>
          </a>
          <div class="footer-icons">
          <a href='{{settings.instagram_link}}' rel="noopener noreferrer">
            <img src='{{asset "instagram.svg"}}' alt='instagram' />
          </a>
          <a href='{{settings.linkedin_link}}' rel="noopener noreferrer">
            <img src='{{asset "linkedin.svg"}}' alt='linkedin' />
          </a>
          </div>
        </div>              
    </div>
  </div>
</footer>