<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K8MJ4SF');</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8MJ4SF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header>
  <div class='header'>
    <div class='header__content'>
      <div class="header__content-start">
      <a href='/hc/pt-br' class='header-logo'>
        <img class='header-logo__img' src='{{settings.logo}}' alt='Solfácil' />
        <p class='header__link'>Central de ajuda</p>
      </a>
      <img src='{{asset "line.svg"}}' alt='Line icon' />
      {{#if signed_in}}
        <a class="header__link__custom" href='https://integrador.solfacil.com.br/' rel="noreferrer">
            <span class='header__dropdown-welcome-custom'>
              Ir para o
            </span>
          	<div class="header__link__custom-content">
              <p>Portal do Integrador</p>
           		<img src='{{asset "open-in-new.svg"}}' alt='Open in new Icon' />
            </div>
        </a>
      {{else}}
      	<a class="header__link__custom" href='https://landing.solfacil.com.br/' rel="noreferrer">
            <span class='header__dropdown-welcome-custom'>
              Ir para o
            </span>
          	<div class="header__link__custom-content">
              <p>Site Solfácil</p>
           		<img src='{{asset "open-in-new.svg"}}' alt='Open in new Icon' />
            </div>
        </a>
      {{/if}}
      </div>
      <nav class='header__nav'>
        {{#if signed_in}}
          <div class='header__dropdown'>
            <a href='/hc/pt-br'>Início</a>
            <a href="/requests/new">Abrir chamado</a>
    				<a class='header__button-green' href="/requests">Meus chamados</a>
            <img src='{{asset "account.svg"}}' alt='Account' />
            <div class="dropdown--text">
              <span class='header__dropdown-welcome'>
                Boas-vindas
              </span>
              <p>{{user_name}}</p>
            </div>
            <img class="dropdown-icon" src='{{asset "dropdown-icon.svg"}}' />
            <div class="dropdown__content">
              <a href="/access/logout">
                <span>Sair</span>
                <img src='{{asset "logout.svg"}}' alt='Logout' />
              </a>
            </div>
          </div>
        <div class='header__dropdown__menu'>
           <div class="dropdown--user">
            <img src='{{asset "account.svg"}}' alt='Account' />
            <div class="dropdown--text">
              <span class='header__dropdown-welcome'>
                Boas-vindas
              </span>
              <p>{{user_name}}</p>
             </div>
            </div>
            <a href='/hc/pt-br'>Início</a>
            <a href="/requests/new">Abrir chamado</a>
    				<a class='header__button-green' href="/requests">Meus chamados</a>
          	<div> 
              <a href="/access/logout">Sair</a>
              <img src='{{asset "logoutwhite.svg"}}' alt='Logout' />
            </div>
          <a class="header__link__custom__menu" href='https://landing.solfacil.com.br/' rel="noreferrer">
            <span class='header__dropdown-welcome-custom'>
              Ir para o
            </span>
          	<div class="header__link__custom-content">
              <p>Portal do Integrador</p>
           		<img src='{{asset "open-in-new.svg"}}' alt='Open in new Icon' />
            </div>
        </a>
          </div>
        {{else}}
        	<a href='/hc/pt-br'>Início</a>
          <a href='/access'>
            <div class='hearder_dropdown-noauth'>
              <img src='{{asset "account.svg"}}' alt='Account' />
              <div class="dropdown--text">
                <span class='header__dropdown-welcome'>
                    Boas-vindas
                </span>
                <p>Entrar</p>
              </div>
            </div>
          </a>
        	<a class="header__link__custom__menu" href='https://landing.solfacil.com.br/' rel="noreferrer">
            <span class='header__dropdown-welcome-custom'>
              Ir para o
            </span>
          	<div class="header__link__custom-content">
              <p>Site Solfácil</p>
           		<img src='{{asset "open-in-new.svg"}}' alt='Open in new Icon' />
            </div>
        	</a>
        {{/if}}
      </nav>
      <div class='header__button'>
        <div class='button__line1'></div>
        <div class='button__line2'></div>
        <div class='button__line3'></div>
      </div>
    </div>
  </div>
<script type="text/javascript">
  const changeDisplayTag = (tag, styleDisplay = "block") => {
  let currentTag = document.querySelector(tag);
  if (currentTag){
    currentTag.style.display = styleDisplay;
    }
	}
  let versoes
	if({{signed_in}}){
  	versoes = {
    1: {
      min: 1280,
      max: Infinity,
      nome: "Versão 1",
      acao: () => {
  			changeDisplayTag(".header__dropdown__menu", "none")
  			
  			changeDisplayTag(".header__dropdown", "flex");
  			
      }
    },
  	2: {
      min: 1064,
      max: 1279,
      nome: "Versão 2",
      acao: () => {
  			changeDisplayTag(".header__dropdown__menu", "none");
  			
  
  			changeDisplayTag(".header__dropdown", "flex");
        changeDisplayTag("body > header > div > div > div.header__content-start > img");
  			changeDisplayTag("body > header > div > div > div.header__content-start > a.header__link__custom");
  			changeDisplayTag("body > header > div > div > nav > div.header__dropdown > a:nth-child(1)");
  			changeDisplayTag("body > header > div > div > nav > div.header__dropdown > a:nth-child(2)");
      }
    },
    3: {
      min: 900,
      max: 1063,
      nome: "Versão 2",
      acao: () => {
  			changeDisplayTag(".header__dropdown__menu", "none");
  			changeDisplayTag("body > header > div > div > nav > div.header__dropdown > a:nth-child(1)", "none");
  			changeDisplayTag("body > header > div > div > nav > div.header__dropdown > a:nth-child(2)", "none");
  
  			changeDisplayTag(".header__dropdown", "flex");
        changeDisplayTag("body > header > div > div > div.header__content-start > img");
  			changeDisplayTag("body > header > div > div > div.header__content-start > a.header__link__custom");
      }
    },
    4: {
      min: 566,
      max: 899,
      nome: "Versão 3",
      acao: () => {
  			changeDisplayTag(".header__dropdown", "none");
  			changeDisplayTag(".header__dropdown__menu", "flex");
  
  			changeDisplayTag("body > header > div > div > div.header__content-start > a.header__link__custom", "none");
  			changeDisplayTag("body > header > div > div > div.header__content-start > img", "none");
  			
  			changeDisplayTag("body > header > div > div > nav > a.header__link__custom__menu", "block");
      }
    },
    5: {
      min: -Infinity,
      max: 565,
      nome: "Versão 4",
      acao: () => {
  				changeDisplayTag(".header__dropdown", "none");
  				changeDisplayTag("body > header > div > div > div.header__content-start > a.header__link__custom", "none");
  				changeDisplayTag("body > header > div > div > div.header__content-start > img", "none");
  				
  				changeDisplayTag(".header__dropdown__menu", "flex");
      }
    }
  };
  } else {
    versoes = {
      1: {
        min: 1280,
        max: Infinity,
        nome: "Versão 1",
        acao: () => {
          changeDisplayTag("body > header > div > div > nav > a.header__link__custom__menu", "none");
        }
      },
      2: {
        min: 900,
        max: 1279,
        nome: "Versão 2",
        acao: () => {
          changeDisplayTag("body > header > div > div > nav > a.header__link__custom__menu", "none")

          changeDisplayTag("body > header > div > div > div.header__content-start > a.header__link__custom");
          changeDisplayTag("body > header > div > div > div.header__content-start > img");
        }
      },
      3: {
        min: 566,
        max: 899,
        nome: "Versão 3",
        acao: () => {
          changeDisplayTag("body > header > div > div > div.header__content-start > a.header__link__custom", "none");
          changeDisplayTag("body > header > div > div > div.header__content-start > img", "none");

          changeDisplayTag("body > header > div > div > nav > a.header__link__custom__menu", "block");
        }
      },
      4: {
        min: -Infinity,
        max: 565,
        nome: "Versão 4",
        acao: () => {
            changeDisplayTag("body > header > div > div > div.header__content-start > a.header__link__custom", "none");
            changeDisplayTag("body > header > div > div > div.header__content-start > img", "none");
        }
      }
    };
}

let versaoAtual = null;
  
document.addEventListener('DOMContentLoaded', () => {
  let width = window.innerWidth;
  
  let versaoAtual = null;
    for (let versao in versoes) {
      if (width >= versoes[versao].min && width <= versoes[versao].max) {
        versaoAtual = versoes[versao];
        break;
      }
    }

    if (versaoAtual !== null) {
      versaoAtual.acao();
    }
  });

window.addEventListener('resize', (event) => {
  let width = window.innerWidth;
   versaoAtual = null;
    for (let versao in versoes) {
      if (width >= versoes[versao].min && width <= versoes[versao].max) {
        versaoAtual = versoes[versao];
        break;
      }
    }

    if (versaoAtual !== null) {
    	versaoAtual.acao();
    }
  });

if({{signed_in}}){
    function dropdownClassAdd() {
        let dropdown = document.querySelector('.dropdown__content');
        let icon = document.querySelector(".dropdown-icon");
        if(dropdown !== null){
            dropdown.classList.add("dropdown-show");
            icon.classList.add("icon-active");    
        }

    }

    let dropdown = document.querySelector('.header__dropdown');

    dropdown.addEventListener("click", (e) => {
        if (e.target.closest('.header__dropdown')) {
            dropdownClassAdd()
        }
    })  

    window.onclick = (event) => {
        if (!event.target.closest('.dropdown--text')) {
            let dropdowns = document.getElementsByClassName("dropdown__content");
            let icon = document.querySelector(".dropdown-icon");
            for (let i = 0; i < dropdowns.length; i++) {
                let openDropdown = dropdowns[i];
                if (openDropdown.classList.contains("dropdown-show")) {
                    openDropdown.classList.remove("dropdown-show");
                    icon.classList.remove("icon-active");
                }
            }
        }
    }
}


if(window.location.pathname == "/hc/pt-br"){
  const elemento = document.querySelector('.header');
	const tagsRemover = elemento.getElementsByTagName('a');

  for (let i = tagsRemover.length - 1; i >= 0; i--) {
    const tag = tagsRemover[i];
    const href = tag.getAttribute('href');
    const classe = tag.getAttribute('class');
    if (href === '/hc/pt-br' && classe !== 'header-logo') {
      tag.parentNode.removeChild(tag);
    }
  }                                         
}
</script>
</header>