<div>  
  <div class="header__banner">
      <div class="container title">
        <h1>Boas-vindas à nossa <b>central de ajuda.</b></h1>
        <p>Como podemos te ajudar?</p>
        <div class="header__search">
          <form
            accept-charset='UTF-8'
            action='/hc/search'
            method='get'
            role='search'
            data-instant='{{settings.show_search}}'
            data-search='true'
            class="search-bar"
          >
            <input name='utf8' type='hidden' value='&#x2713;' />
            <input
              class='input search-bar__input'
              id='query'
              name='query'
              placeholder='Digite sua dúvida aqui'
              type='search'
            />
            <button class='button search-bar__button' type='submit'>
           	<img src='{{asset "lupadark.svg"}}' alt='Search' class='search-bar__icon'/>
            </button>
          </form>
      </div>
    </div>
</div>
<section class="home-category">
  <div class="categories-cards">
    <ul>
        <li class="categories-cards__card">
          <a href="/hc/pt-br/categories/13819539135643-Integradores">
            <img
              alt="Integrador Icon"
              src="{{asset 'category13819539135643.svg'}}"
              class="categories-cards__image"
            />
            <h2>Integrador</h2>
            <span>
              {{#if signed_in}}
              	Tire suas dúvidas sobre seus projetos e todo ecossistema Solfácil.
              {{else}}
              	Veja como se tornar um parceiro Solfácil, tire dúvidas sobre seus projetos e outros assuntos.
              {{/if}}
            </span>
            
          </a>
        </li>
      	<li class="categories-cards__card">
          <a href="/hc/pt-br/categories/13819586922395-Clientes">
            <img
              alt="Integrador Icon"
              src="{{asset 'category13819586922395.svg'}}"
              class="categories-cards__image"
            />
            <h2>Clientes</h2>
            <span>
               {{#if signed_in}}
                Auxilie seus clientes a resolverem suas demandas e dúvidas mais frequentes sobre financiamentos e pagamentos.
              {{else}}
                Aprenda como iniciar seu financiamento, tire dúvidas sobre pagamentos e outros assuntos.
              {{/if}}
            </span>
          </a>
        </li>
    </ul>
  </div>
</section>

<section class="promoted-articles__container" id="frequently-questions">
  <div class="promoted-articles">
    <h2 class="promoted-articles__title">Dúvidas frequentes</h2>
    <ol class="promoted-articles__list">
      {{#each (slice promoted_articles 0 6)}}
        <li>
          <a href="{{url}}">
            <h3>{{title}}</h3>
            <img src="{{asset 'arrow-right.svg'}}" alt="arrow right">
          </a>
        </li>
      {{/each}}
    </ol>
  </div>
</section>
<div class="card-service-container">
  <div class='container'>
    {{#if signed_in}}
      <div class='card-called light'>
          <div class='card-called__title'>
            <h2 class='light'>Ainda tem dúvidas?</h2>
            <p class='gray'>Acesse sua conta em nossa central de ajuda e acompanhe seus chamados.</p>
          </div>
          <a class='card-called__button light' href='/requests/new'>
            Abrir chamado
          </a>
      </div>
    {{/if}}
    <div class='card-service-channels shadow'>
      <div class='card-service-channels__header'>
        <p>Canais de Atendimento</p>
        <a href='https://integrador.solfacil.com.br/'>
        	<h2>Central do Integrador</h2>
        </a>
      </div>
      <div class='card-service-channels__body'>
        <ul>
          <li>
            <img src='{{asset "whatsapp.svg"}}' alt='Whatsapp call icon' />
            <span>{{settings.partner_hub_wpp}}</span>
          </li>
          <li>
            <img src='{{asset "phone-call.svg"}}' alt='Phone call icon' />
            <span>{{settings.partner_hub_phone}}</span>
          </li>
          <li>
            <img src='{{asset "calendar.svg"}}' alt='Calendar icon' />
            <span>{{settings.partner_hub_attendance}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>


<div class='card-service-channels shadow-footer'>
  <div class="container">
    <div class="container-card">
      <div class='card-service-channels__header'>
        <p>Canais de Atendimento</p>
        <h2>Central do Cliente</h2>
      </div>
      <div class='card-service-channels__body'>
        <ul>
           <li>
            <img src='{{asset "whatsapp.svg"}}' alt='Whatsapp call icon' />
            <span>{{settings.customer_1_wpp}}</span>
          </li>
          <li>
            <img src='{{asset "phone-call.svg"}}' alt='Phoe call icon' />
            <span>{{settings.customer_1_phone}}</span>
          </li>
          <li>
            <img src='{{asset "calendar.svg"}}' alt='Calendar icon' />
            <span>{{settings.customer_1_attendance}}</span>
          </li>
        </ul>
        <h3>SAC</h3>
        <ul>
          <li>
            <img src='{{asset "phone-call.svg"}}' alt='Phoe call icon' />
            <span>{{settings.customer_3_phone}}</span>
          </li>
          <li>
            <img src='{{asset "calendar.svg"}}' alt='Calendar icon' />
            <span>{{settings.customer_3_attendance}}</span>
          </li>
        </ul>        
        <h3>Ouvidoria</h3>
        <ul>
          <li>
            <img src='{{asset "email.svg"}}' alt='email icon' />
            <a href="mailto:{{settings.customer_2_email}}">{{settings.customer_2_email}}</a>
          </li>
          <li>
            <img src='{{asset "phone-call.svg"}}' alt='Phoe call icon' />
            <span>{{settings.customer_2_phone}}</span>
          </li>
          <li>
            <img src='{{asset "calendar.svg"}}' alt='Calendar icon' />
            <span>{{settings.customer_2_attendance}}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>