{{!-- <script>window.location.href = "/requests/new"</script> --}}
<script></script>

<section>
  <div class="container">
    
    <div class="request-breadcrumbs">{{breadcrumbs}}</div>
		<h1 class="request-title">{{request.subject}}</h1>
    <div id="main-content" class="request-container">
      <section class="request-main">
        {{satisfaction}}
        <ul class="comment-list">
          {{#each comments}}
            <li id="{{anchor}}" class="comment">
              <div class="comment-wrapper">
                <div class="comment-info">
                  <div class="comment-author">
                    <div class="avatar comment-avatar">
                      <img src="{{author.avatar_url}}" alt="" class="user-avatar"/>
                    </div>

                    <div class="comment-meta">
                      <span class="comment-meta__name" title="{{author.name}}">
                        {{author.name}}
                      </span>

                      <ul class="meta-group">
                        <li class="meta-data">{{date created_at timeago=true}}</li>
                      </ul>
                    </div>
                  </div>

                  <section class="comment-body">
                    {{body}}
                    {{#if attachments}}
                      <ul class="attachments">
                        {{#each attachments}}
                          <li class="attachment-item">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="attachment-icon">
                              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M9.5 4v7.7c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5V3C6.5 1.6 7.6.5 9 .5s2.5 1.1 2.5 2.5v9c0 1.9-1.6 3.5-3.5 3.5S4.5 13.9 4.5 12V4"/>
                            </svg>
                            <a href="{{url}}" target="_blank">{{name}}</a>
                            <div class="attachment-meta meta-group">
                              <span class="attachment-meta-item meta-data">{{size}}</span>
                              <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">{{t 'download'}}</a>
                            </div>
                          </li>
                        {{/each}}
                      </ul>
                    {{/if}}
                  </section>
                </div>
              </div>
            </li>
          {{/each}}
        </ul>

        {{pagination}}

        <div id="exemplo" class="request-follow-up">
          {{comment_callout}}
        </div>        

        {{#form 'comment' class='comment-form'}}
          <div class="comment-container">
            <h2 class="comment-container__title">Nova mensagem</h2>
            <div class="comment-fields">
              <div class="comment-ccs form-field">
                {{token_field 'ccs' class='ccs-input'}}
              </div>
              {{wysiwyg 'body' rows='7'}}

              <div class="comment-attachments">
                {{upload}}
              </div>
            </div>

            <div class="comment-form-controls">
              {{checkbox 'mark_as_solved'}}

              {{#if request.can_be_marked_as_solved}}
                <button type="button" class="button-large button-secondary mark-as-solved"
                  data-solve-translation="{{t 'mark_as_solved'}}"
                  data-solve-and-submit-translation="{{t 'mark_as_solved_and_submit'}}">
                  {{t 'mark_as_solved'}}
                </button>
              {{/if}}

              <span class="request-submit-comment {{#validate 'body'}}shown{{/validate}}">
                {{input type='submit' class="button button-large"}}
              </span>
            </div>
          </div>
        {{/form}}
      </section>

      <section class="request-sidebar collapsible-sidebar">
        <button type="button" class="collapsible-sidebar-toggle" aria-labelledby="request-sidebar-title" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
            <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
          </svg>
        </button>
        <h2 id="request-sidebar-title" class="collapsible-sidebar-title">
          {{t 'ticket_details'}}
        </h2>
        <div class="collapsible-sidebar-body">
          {{#if request.followup_source_id}}
            <dl class="request-details">
              <dt>{{t 'followup'}}</dt>
              <dd>{{link 'request' id=request.followup_source_id}}</dd>
            </dl>
          {{/if}}

          <dl class="request-details">
            <dt>{{t 'requester'}}</dt>
            <dd>{{request.requester.name}}</dd>

            <dt>{{t 'created'}}</dt>
            <dd>{{date request.created_at}}</dd>
            {{#each custom_fields}}
            {{#isnt value '—'}}
            {{#isnt title ''}}
          		{{#is title 'ID Projeto Solfácil'}}
                <dt>{{title}}</dt>
                <dd>
                  {{value}}
                </dd>
          		{{/is}}
            {{/isnt}}
            {{/isnt}}
            {{/each}}
          </dl>
					 
          <dl class="request-details">

            <dt>Protocolo</dt>
            <dd>#{{request.id}}</dd>

            <dt>{{t 'status'}}</dt>
            <dd>
              <span class="status-label status-label-request status-label-{{request.status}}" title="{{request.status_description}}">
                {{request.status_name}}
              </span>
            </dd>
						<
            {{#each custom_fields}}
            {{#isnt value '—'}}
            {{#isnt title ''}}
            {{#isnt title 'ID Projeto Solfácil'}}
              <dt>{{title}}</dt>
              <dd>
                {{value}}
              </dd>
          	{{/isnt}}
            {{/isnt}}
            {{/isnt}}
            {{/each}}
          </dl>
          {{#if attachments}}
            <dl class="request-details request-attachments">
              <dt>{{t 'attachments_heading'}}</dt>
              <dd>
                <ul class="attachments">
                  {{#each attachments}}
                    <li class="attachment-item">
                      <div class="attachment-item__title">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="attachment-icon">
                          <path fill="none" stroke="currentColor" stroke-linecap="round" d="M9.5 4v7.7c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5V3C6.5 1.6 7.6.5 9 .5s2.5 1.1 2.5 2.5v9c0 1.9-1.6 3.5-3.5 3.5S4.5 13.9 4.5 12V4"/>
                        </svg>
                        <a href="{{url}}" target="_blank">{{name}}</a>
                      </div>
                      <div class="attachment-meta meta-group">
                        <span class="attachment-meta-item meta-data">{{size}}</span>
                        <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">{{t 'download'}}</a>
                      </div>
                    </li>
                  {{/each}}
                </ul>
              </dd>
            </dl>
          {{/if}}
        </div>
      </section>
    </div>
  </div>
</section>
<section>
    <div class='form-title'>
		<h2>Não encontrou o que procurava? Entre em contato pelo nosso WhatsApp</h2>
  </div>
  <div class="categories-cards">
    <ul>
        <li class="categories-cards__card flex-start">
          <a>
            <div class="categories-cards__content">
              <img
                src="{{asset "category13819539135643" suffix=".svg"}}"
                class="categories-cards__image"
              />
              <div>
                <div class='card-service-channels__header'>
                	<p>WhatsApp</p>
              	</div>
              	<h3 class='light'>Para integradores</h3>
              </div>
            </div>
            <a id="partner" class='card-called__button light categories-cards__fullwith'>
              <div class="categories-card_wpp-span">
                <img
                src="{{asset "whatsapp" suffix=".svg"}}"
                class="categories-card_wpp-icon"
              />
              <span>{{settings.partner_hub_wpp}}</span>
              </div>
            </a>         
           </a>
          <div class="full-width">
            <p>Segunda a Sexta, 08h às 18h - Exceto feriados</p>
          </div>
       </li>
       <li class="categories-cards__card flex-start">
         <a>
           <div class="categories-cards__content">
             <img
                src="{{asset "category13819586922395" suffix=".svg"}}"
                class="categories-cards__image"
              />
              <div>
                <div class='card-service-channels__header'>
                	<p>WhatsApp</p>
              	</div>
              	<h3 class='light'>Para clientes</h3>
              </div>
          </div>
          <a id="customer" class='card-called__button light categories-cards__fullwith'>
            <div class="categories-card_wpp-span">
                <img
                src="{{asset "whatsapp" suffix=".svg"}}"
                class="categories-card_wpp-icon"
              />
             <span>{{settings.customer_1_wpp}}</span>
            </div>
          </a>           
        </a>
        <div class="full-width">
            <p>Segunda a Sexta, 08h às 18h - Exceto feriados</p>
        </div>
      </li>      
    </ul>
  </div>
</section>