{{#if results}}
 <div>  
  <div class="header__banner">
      <div class="container title">
        <h1>Boas-vindas à nossa <b>central de ajuda.</b></h1>
        <p>Como podemos te ajudar?</p>
        <div class="header__search">
          <form
            accept-charset='UTF-8'
            action='/hc/search'
            method='get'
            role='search'
            data-instant='{{settings.show_search}}'
            data-search='true'
            class="search-bar"
          >
            <input name='utf8' type='hidden' value='&#x2713;' />
            <input
              class='input search-bar__input'
              id='query'
              name='query'
              placeholder='Digite sua dúvida aqui'
              type='search'
            />
            <button class='button search-bar__button' type='submit'>
              <img src='{{asset "lupadark.svg"}}' alt='Search' class='search-bar__icon'/>
            </button>
          </form>
      </div>
    </div>
</div>
  <section class="search-result">
    <div class="search-result__title">
      <h2>Artigos encontrados</h2>
      <span>{{results_count}} resultados para "{{query}}"</span>
    </div>
    <ul class="search-result__list">
      {{#each results}}
        <li>
          <a href="{{url}}">
            <div>
              <h3>{{title}}</h3>
              <ul class="row">
                {{#each path_steps}}
                  <li>
                    <span>{{name}}</span>
                  </li>
                {{/each}}
              </ul>
            </div>
            <div>
              <img src='{{asset "arrow-left.svg"}}' alt='Arrow icon' />
            </div>
          </a>
      </li>
      {{/each}}
    </ul>
    <div class="pagination-container" data-itens="10" data-count="{{results_count}}">
      {{pagination}}
    </div>
  </section>
{{/if}}

<!-- {{#unless results}}
  <section class="search-result no-result">
    <div class="search-result__title">
      <h2>Artigos encontrados</h2>
      <span>Nenhum resultado para "{{query}}"</span>
      <b>Tente pesquisar por outra palavra-chave, consulte nossas páginas de artigos ou entre em contato com a nossa equipe.</b>
    </div>
  </section>
{{/unless}} -->
{{#unless results}}
<div class="search-result no-result">
    <div class="search-result__title no-result">
      <h2>Artigos não encontrados</h2>
      <span>Nenhum resultado para "{{query}}"</span>
      <div class="header__search">
        <form
          accept-charset='UTF-8'
          action='/hc/search'
          method='get'
          role='search'
          data-instant='{{settings.show_search}}'
          data-search='true'
          class="search-bar"
        >
          <input name='utf8' type='hidden' value='&#x2713;' />
          <input
            class='input search-bar__input no-result__input'
            id='query'
            name='query'
            placeholder='Digite sua dúvida aqui'
            type='search'
          />
          <button class='button search-bar__button' type='submit'>
            <img src='{{asset "lupadark.svg"}}' alt='Search' class='search-bar__icon'/>
          </button>
        </form>
      </div>
      <span>Tente pesquisar por outra palavra-chave, consulte nossas páginas de artigos ou entre em contato com a nossa equipe.</span>
</div>
 <section>
    <div class='form-title'>
		<h2>Não encontrou o que procurava? Entre em contato pelo nosso WhatsApp</h2>
  </div>
  <div class="categories-cards">
    <ul>
        <li class="categories-cards__card flex-start">
          <a>
            <div class="categories-cards__content">
              <img
                src="{{asset "category13819539135643" suffix=".svg"}}"
                class="categories-cards__image"
              />
              <div>
                <div class='card-service-channels__header'>
                	<p>WhatsApp</p>
              	</div>
              	<h3 class='light'>Para integradores</h3>
              </div>
            </div>
            <a id="partner" class='card-called__button light categories-cards__fullwith'>
              <div class="categories-card_wpp-span">
                <img
                src="{{asset "whatsapp" suffix=".svg"}}"
                class="categories-card_wpp-icon"
              />
              <span>{{settings.partner_hub_wpp}}</span>
              </div>
            </a>         
           </a>
          <div class="full-width">
            <p>Segunda a Sexta, 08h às 18h - Exceto feriados</p>
          </div>
       </li>
       <li class="categories-cards__card flex-start">
         <a>
           <div class="categories-cards__content">
             <img
                src="{{asset "category13819586922395" suffix=".svg"}}"
                class="categories-cards__image"
              />
              <div>
                <div class='card-service-channels__header'>
                	<p>WhatsApp</p>
              	</div>
              	<h3 class='light'>Para clientes</h3>
              </div>
          </div>
          <a id="customer" class='card-called__button light categories-cards__fullwith'>
            <div class="categories-card_wpp-span">
                <img
                src="{{asset "whatsapp" suffix=".svg"}}"
                class="categories-card_wpp-icon"
              />
             <span>{{settings.customer_1_wpp}}</span>
            </div>
          </a>           
        </a>
        <div class="full-width">
            <p>Segunda a Sexta, 08h às 18h - Exceto feriados</p>
        </div>
      </li>      
    </ul>
  </div>
</section>   
  
{{/unless}}

<script type="text/javascript" >
  const wppFormatter = (number) => {
    let expression =  /[^a-zA-Z0-9]/gi;
    return number.replace(expression, "");
  }
  const partenerWppFormated = wppFormatter("{{settings.partner_hub_wpp}}");
  const customerWppFormated = wppFormatter("{{settings.customer_1_wpp}}");
  const addFormatedHref = (phone) => {
    return `https://api.whatsapp.com/send?phone=55${phone}`
  }
  const addWppHref = () => {
    let partnerHrefTag = document.getElementById("partner")
    partnerHrefTag.href = addFormatedHref(partenerWppFormated)
    let customerHrefTag = document.getElementById("customer")
    customerHrefTag.href = addFormatedHref(customerWppFormated);
  }
  addWppHref();
</script>
