{{! ===================== LIST ARTICLES EXAMPLE ===================== }}
<div>  
  <div class="header__banner">
      <div class="container title">
        <h1>Boas-vindas à nossa <b>central de ajuda.</b></h1>
        <p>Como podemos te ajudar?</p>
        <div class="header__search">
          <form
            accept-charset='UTF-8'
            action='/hc/search'
            method='get'
            role='search'
            data-instant='{{settings.show_search}}'
            data-search='true'
            class="search-bar"
          >
            <input name='utf8' type='hidden' value='&#x2713;' />
            <input
              class='input search-bar__input'
              id='query'
              name='query'
              placeholder='Digite sua dúvida aqui'
              type='search'
            />
            <button class='button search-bar__button' type='submit'>
           	<img src='{{asset "lupadark.svg"}}' alt='Search' class='search-bar__icon'/>
            </button>
          </form>
      </div>
    </div>
</div>
{{#if section.articles}}
  <section>
    <div class="section-page">
      <div class="section-header">
        {{breadcrumbs}}
        <h2>{{section.name}}</h2>
      </div>
      <div class="section-page-articles">
        <ul class="section-page-articles__list">
          {{#each section.articles}}
            <li>
              <a href='{{url}}'>
                {{title}}
                <img src="{{asset 'chevron-right.svg'}}" alt="chevron">
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
      {{pagination}}
    </div>
  </section>
{{/if}}
